apread==1.1.4a3
chardet==5.2.0
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
Deprecated==1.2.14
et-xmlfile==1.1.0
fonttools==4.53.0
imageio==2.34.1
joblib==1.4.2
kiwisolver==1.4.5
lazy_loader==0.4
markdown-it-py==3.0.0
matplotlib==3.9.1
mdurl==0.1.2
networkx==3.3
numpy==1.26.4
opencv-python==4.10.0.82
openpyxl==3.1.5
packaging==24.0
Pygments==2.18.0
pylibdmtx==0.1.10
pyparsing==3.1.2
python-dateutil==2.9.0.post0
reportlab==4.2.2
rich==13.7.1
SciencePlots==2.1.1
scikit-image==0.23.2
scipy==1.13.1
setuptools==70.2.0
shellingham==1.5.4
six==1.16.0
snakeviz==2.2.0
spazial==0.1.11
splintaz==0.1.5
threadpoolctl==3.5.0
tifffile==2024.5.22
tornado==6.4.1
tqdm==4.66.4
typer==0.12.3
typing==3.7.4.3
typing_extensions==4.12.1
wrapt==1.16.0
XlsxWriter==3.2.0
